body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* header areas styles */
header {
  margin: 50px 165px;
}
header h1 {
  font-size: 24px;
  font-weight: bold;
}
/* slider styles start here */
.slider-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-text {
  width: 582px;
  font-size: 16px;
}

.slider-title {
  font-size: 52px;
  color: #3a3a3a;
}

.cta-btn {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background-color: #e02c6d;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

/* slider image area */
.slider-image {
  background-image: url(images/circle.png);
  background-repeat: no-repeat;
  height: 475px;
  width: 475px;
}

/*----------product style start here---------- */
.product-title {
  font-size: 28px;
  text-align: center;
  padding: 30px 0px;
}
.single-product {
  width: 300px;
  height: 476px;
  box-shadow: 0px 0px 25px #3a3a3a;
  border-radius: 10px;
  padding: 10px;
}

.single-product img {
  width: 300px;
  height: 256px;
}

.single-product a {
  text-decoration: none;
  color: #3a3a3a;
}

/* product font awesome */
.fa-star,
.fa-star-half-alt {
  color: orange;
}
