body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* header areas styles */
header {
  margin: 50px 165px;
}
header h1 {
  font-size: 24px;
  font-weight: bold;
}
/* slider styles start here */
.slider-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-text {
  width: 582px;
  font-size: 16px;
}

.slider-title {
  font-size: 52px;
  color: #3a3a3a;
}

.cta-btn {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background-color: #e02c6d;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

/* slider image area */
.slider-image {
  background-image: url(images/circle.png);
  background-repeat: no-repeat;
  height: 475px;
  width: 475px;
}
