/* comon styles */
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* header areas styles */

header h1 {
  font-size: 24px;
  font-weight: bold;
}
/* slider styles start here */
.slider-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.slider-text {
  width: 542px;
  font-size: 16px;
  padding: 20px;
}

.slider-title {
  font-size: 52px;
  color: #3a3a3a;
}

.cta-btn {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background-color: #e02c6d;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

/* slider image area */
.slider-image {
  background-image: url(images/circle.png);
  background-repeat: no-repeat;
  height: 475px;
  width: 475px;
}

.slider-image:hover {
  transform: rotate(40deg);
  transition-duration: 4s;
}
/*----------product style start here---------- */
.product-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-title {
  font-size: 28px;
  padding: 30px 0px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 20px 10px;
}

.single-product {
  width: 300px;
  height: 476px;
  box-shadow: 0px 0px 20px #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

.single-product img {
  width: 300px;
  height: 256px;
}
.single-product h1 {
  font-weight: lighter;
}

.single-product a {
  text-decoration: none;
  color: #3a3a3a;
}

/* product font awesome */
.fa-star,
.fa-star-half-alt {
  color: orange;
}

.see-more-btn {
  text-align: right;
  grid-column: 1/4;
}

/* -------promo area----- */

.promo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin-top: 40px;
  padding: 40px 0px 160px 0px;
  color: #0a0826;
}
.promo-form h1 {
  font-size: 36px;
  font-weight: bold;
}

.promo-form input {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 5px gray inset;
  font-size: 16px;
}

/* -----------footer area star--------- */
.footer {
  background: #0a0826;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

.fab {
  padding: 2px;
}

/* ---------------media queries for tab---------- */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /* slider for tab */
  .slider-text {
    width: 100%;
    font-size: 16px;
    order: 2;
  }
  .slider-title {
    font-size: 30px;
    color: #3a3a3a;
  }

  /* product for tab */
  .product-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px 5px;
  }
  .see-more-btn {
    grid-column: 1/3;
    margin-top: 20px;
  }
}
/* ---------------media queries for mobile---------- */
@media only screen and (max-width: 768px) and (min-width: 300px) {
  /* slider style for mobile */
  .slider-text {
    width: 100%;
    font-size: 16px;
    order: 2;
  }
  .slider-title {
    font-size: 30px;
    color: #3a3a3a;
  }
  .slider-image {
    width: 90%;
    height: 90%;
    background-size: 90%;
  }
  .slider-image img {
    width: 90%;
    height: 90%;
  }
  /* product style for mobile */
  .products {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 20px 10px;
  }
  .see-more-btn {
    grid-column: 1/2;
  }
  .form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: #0a0826;
  }
  .form-area button {
    margin-top: 20px;
  }
  .promo-form h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
}
